


body,
html {
    height: 100%;
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.img-container {
  margin: 25px 0;
  display: flex;
  min-width: 700px;
  min-height: 400px;
}

#main-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;


}

#container {
    background-color: white;
    padding: 0;
    
    
}

#column-right {
    padding: 0;
}

.column {
    padding-right: 0;
    display: block;
    
}

.row {
    
}

#top-row {
   
}

#bottom-row {
    /* border: 1px black solid; */
    justify-content: center;
    text-align: center;
    
}

#column-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-menu {
    display: inline-flex;
    flex-direction: column;
    
    
}

#menu-items {
    align-content: left;
}

.name {
    margin-right: 35px;
}

.name h1 {
    font-size: 3.5rem;
}

.name p {
    font-size: 1rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.ul {
    list-style: none;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

li {
    line-height: 1.5rem;
}

.section-link {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    font-size: 1.25rem;
    color: #000000;
    text-decoration: none;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
}
.section-link:hover {
    color: #70757c;
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
}
.section-link:hover:before {
    opacity: 1;
    transform: translateX(4px);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.1s;
}
.section-link:hover:after {
    transform: scaleX(0);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
}
.section-link:before {
    display: inline-block;
    content: '\2192';
    opacity: 0;
    position: absolute;
    top:5px;
    right: -15px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 50%;
    transition-delay: 0.2s;
    transform: translateX(0);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
}
.section-link:after {
    background: #8a8f95;
    content: '';
    display: block;
    height: 1px;
    margin-top: -2px;
    width: 100%;
    z-index: 0;
    transform-origin: 100% 0;
    transform: scaleX(1);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.1s;
}


#skills-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 3em;
    margin-top: 15px;
}

#skills-title {
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}


i {
    font-size: 2.5rem;
    /* height: 100%;
    width: 100%; */
}

.slick-slide {
    margin: 0px 0px;
    
}

.slick-slide i {
    width: 100%;
    height: 100%;
    
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 100px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide i
{
    display: block;
    
}
.slick-slide.slick-loading i
{
    display: none;
}
.slick-slide.dragging i
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}